@model IEnumerable<Webapp.Starter.Data.Entities.Article>
@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="container-fluid">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @item.Title
                </div>
                <div class="panel-body">
                    <p>
                        @item.Contents
                    </p>
                </div>
                <div class="panel-footer">
                    By @item.AuthorId
                </div>
            </div>
        </div>
    }

</div>
